footer {
  .footer {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 4em;
    h6 {
      font-size: 1.3rem;
      color: $asset-color;
    }
    p {
      font-size: 0.82rem;
      line-height: 1.5em;
    }
    .about {
      width: 20%;
    }
    .newsletter {
      width: 20%;
      input {
        width: 100%;
        height: 2rem;
        margin-bottom: 1em;
        border-style: solid;
        border-color: black;
        border-radius: 20px;
        padding: 1.3em 0 1.3em 2em;
        box-sizing: border-box;
        outline: none;
      }
      input[placeholder="Name"] {
        width: 50%;
      }
      button {
        width: 40%;
        padding: 0.6em;
        border-radius: 20px;
        border-style: solid;
        border-color: $asset-color;
        color: $asset-color;
        background-color: rgba(0, 0, 0, 0);
        font-weight: 700;
      }
    }
    .clinical-services {
      width: 20%;
    }
    .get-in-touch {
      width: 20%;
      div {
        padding: 0;
        margin-bottom: 2em;
        img {
          width: 8%;
          margin-bottom: -0.5em;
        }
        p {
          display: inline-block;
          margin: -4em 0 0 2em;
        }
      }
      .location {
        img {
          width: 10%;
          margin-bottom: 0em;
        }
        p {
          display: inline-block;
          margin: -2em 0 0 4em;
        }
      }
    }
  }
  .copyright {
    padding: 1em 0em;
    margin-bottom: 0em;
    font-size: 0.95rem;
    text-align: center;
    background-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
  }
}
