.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  .logo {
    img {
      cursor: pointer;
      width: 140px;
    }
  }
  .nav-links {
    ul {
      display: flex;
      padding: 0 2.5em;
      li {
        cursor: pointer;
        font-size: 0.75rem;
        list-style-type: none;
        margin: 1.5em 1em;
      }
    }
  }
}
