.home {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #707070;
  width: 98.9rem;
  height: 194.5rem;
  background-image: url("https://nationaleyecenter.s3.af-south-1.amazonaws.com/Hexagon-dotted-connect-line-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .home {
    width: 25.97rem;
    height: 273rem;
    overflow: hidden;
  }
}
