.about {
  margin-left: 3rem;
  padding: 1.3rem;
}
.about h6 {
  font-size: 1.2rem;
  font-weight: 600;
}
.about p {
  font-size: 0.8rem;
}

@media screen and (max-width: 480px) {
  .about {
    margin-left: 0rem;
  }
}
