footer .footer {
  display: grid;
  grid-template-columns: 24.5rem 24.5rem 24.5rem 24.5rem;
  margin-top: 4.2rem;
  padding-left: 0rem;
}
footer .footer h6 {
  color: #0d7522;
}
footer .footer p {
  text-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.19);
}
footer .copyright {
  margin-top: 3rem;
  padding-top: 0.7rem;
  height: 2.5rem;
  background-color: white;
  text-align: center;
  font-size: 0.9rem;
  box-sizing: border-box;
  border-top-style: solid;
  border-color: #cccaca;
  border-width: 2px;
}

@media screen and (max-width: 480px) {
  footer .footer {
    display: block;
    margin-top: 14rem;
    width: 23.44rem;
  }
  footer .copyright {
    margin-top: -1.5rem;
    width: 23.44rem;
    font-size: 0.7rem;
  }
}
