.get-in-touch {
  padding: 1.3rem;
}
.get-in-touch div {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 2rem 20rem;
}
.get-in-touch img {
  width: 1.4rem;
  height: 1.4rem;
}
.get-in-touch h6 {
  font-size: 1.2rem;
  font-weight: 600;
}
.get-in-touch p {
  margin-left: 1rem;
  margin-top: 0rem;
  font-size: 0.8rem;
}
