.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98.9rem;
}
.header .logo img {
  margin: 0.4rem 0rem 0rem 3rem;
  width: 6rem;
  height: 5rem;
  object-fit: cover;
}
.header .nav-links {
  margin: 1.5rem 0rem 0rem 25rem;
  width: 63rem;
  font-size: 13px;
}
.header .nav-links ul {
  padding-left: 34rem;
  width: 27rem;
}
.header .nav-links li {
  display: inline;
  padding: 1.3rem;
  cursor: pointer;
}
