.image-card {
  position: absolute;
  top: 41rem;
  left: 33rem;
  width: 36rem;
  height: 13rem;
  border-style: solid;
  border-radius: 3rem;
  border-width: 0.11rem;
  border-color: #cccaca;
  background-color: white;
}
.image-card .image {
  margin: 1.3rem 0rem 0rem 2.5rem;
  width: 10rem;
  height: 10rem;
  border-style: solid;
  border-color: #1d680f;
  border-width: 5px;
  border-radius: 150px;
  object-fit: cover;
  object-position: -25px 0px;
  box-shadow: 0.2rem 0.4rem 0.5rem rgba(63, 44, 44, 0.2);
}
.image-card .text {
  font-size: 1.8rem;
  margin: -10.4rem 0rem 0rem 17rem;
}
.image-card .text h6 {
  margin-bottom: -0.5rem;
  font-weight: 500;
  color: #1d680f;
}
.image-card .text p {
  font-size: 1.23rem;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .image-card {
    top: 162rem;
    left: 3rem;
    width: 19rem;
    height: 7.5rem;
    border-radius: 20px;
  }
  .image-card .image {
    margin: 0.8rem 0rem 0rem 1rem;
    width: 5.5rem;
    height: 5.5rem;
    object-position: -14px 0px;
  }
  .image-card .text {
    font-size: 1.8rem;
    margin: -5.9rem 0rem 0rem 9rem;
  }
  .image-card .text h6 {
    font-size: 0.75rem;
    width: 11rem;
  }
  .image-card .text p {
    font-size: 0.75rem;
    width: 11rem;
  }
}
