.image-table {
  position: relative;
  width: 98.9rem;
  height: 22.8rem;
  overflow: hidden;
  margin-bottom: 4rem;
}
.image-table .image-wrapper {
  margin-left: -1rem;
  display: grid;
  grid-template-columns: 14.5rem 14.5rem 14.5rem 14.5rem 14.5rem 14.5rem 14.5rem;
  width: 98.9rem;
  height: 24rem;
}

.image-table .image-wrapper div {
  margin-top: -0.3rem;
}

.image-table .image-wrapper .image {
  width: 15.05rem;
  height: 12.05rem;
  object-fit: cover;
}
.image-table .overlay {
  position: absolute;
  top: 0rem;
  width: 98.9rem;
  height: 50rem;
  background-color: #1d680f;
  opacity: 0.4;
}

@media screen and (max-width: 480px) {
  .image-table {
    margin-top: -11rem;
    padding: 2rem 0rem 0.5rem 1.5rem;
    width: 25.89rem;
    height: 9rem;
    background-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #cccaca;
    border-width: 2px;
  }
  .image-table .image-wrapper {
    width: 23.44rem;
    grid-template-columns: 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem 12rem;
    grid-template-rows: 3rem;
    overflow-x: scroll;
  }
  .image-table .image-wrapper .image {
    display: block;
    width: 11.05rem;
    height: 8.05rem;
    object-fit: cover;
    border-radius: 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
  }
  .image-table .overlay {
    display: none;
  }
}
